.overdue_mark{
  color: rgb(230, 75, 75);
  font-size: 14px;
  text-align: right;
}

.ongoing_mark{
  color: #1c501c;
  font-size: 14px;
  text-align: right;
}

.dropdown-menu{
  background-color: #FFF5EE;
  padding: 5px 5px 5px 5px;
  border: 1pt solid #000000;
}
